
::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F2F2F2; 
    border-radius: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F2F2F2; 
    border-radius: 10px;
  }

#brand{
    color:#004fc3 ;
    font-family: 'Maven Pro', sans-serif;
    font-size: 37px;
}
.main-video{
    border-radius: 10px;
    width: 52rem;
    height: 25rem;
    background-color: #F2F2F2;
}

.live-text button{
    background: #EFF2F1;
    border: none;
    display: inline-block;
    padding: 4px 18px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .3px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}
.live-text span {
    width: 10px;
    height: 10px;
    background: #EF0200;
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px;
}
.copy-invitation-link{
    background: #004FC4;
    border: none;
    color: #fff;
    display: inline-block;
    padding: 4px 18px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .3px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;

}
.main-setting{
    background: #F2F2F2;
    text-align: center;
    display: flex;
    justify-content: center;
    padding:16px 16px;
    margin-top: 15px;
    margin-left: 7rem;
    border-radius: 15px;
    align-items: flex-start;
    padding-bottom: 0px;

}
.video-setting-btn{
    background-color: #1D53A1;
    border-radius: 100%;
    width: 52px;
    height: 48px;
    padding: 9px;

}
.video-setting-text{
    display: inline-block;
    color: #1D53A1;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    width: 71px;
    position: relative;
    right: 4px;
}
.setting-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.setting-list ul li {
    display: inline;
    text-align: center;
    margin: 0 12px;
}
.setting-list ul li a {
    display: inline-block;
    color: #1D53A1;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
}
.setting-list ul li span {
    width: 45px;
    height: 45px;
    background: #004FC4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.call_close {
    padding: 0 25px;
    text-align: center;
}
.call_close button {
    background: #EF0200;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}
.short-screen2{
    
    width: 15rem;
    height: 9rem;
    border-radius: 17px;

}
.outgoing 
{ padding: 9px;
     border-radius: 16px;
     width: 78%;
     background:#004fc4 ;
     margin-top: 22px;
     color: white;
     outline:  #004fc4  ;
     z-index: -2;
      text-align: left; }
.incomming{
    border: 2px outset #f2f2f2;
        padding: 9px;
        border-radius: 16px; 
        margin-top: 22px; 
        width: 78%;
         margin-left: auto;
          background: #f2f2f2;
          outline: #f2f2f2;
          color: black;
          z-index: -1;
          text-align: left;
         }
.input-area{
             
    margin-top: 1rem;
    background-color: #e1e1e1;
    height: 7rem;
    width: 25rem;
    position: relative;
    left: -15px;

}
.input-area input{
    
    width: 18rem;
    margin-left: 21px;
    margin-top: 13px;
    border-radius: 21px;
    height: 2rem;
    outline: gray;
    border: none;

}
.contact-foam-color{
    color: gray;
}
.input-contact span{
    
    font-size: 12px;

}
.input-contact input{
    border: none;
    border-bottom: 1px solid gray;
    outline: white;
    width: 14rem;
    height: 23px;
}
.submit-btn{
    
    background-color: #004fc4;
    color: white;
    
    padding-inline: 48px;
    border-radius: 10px;
    margin-left: 18%;

}
.submit-btn:hover{
    color: white;
}
.nav-blue{
    background-color: #004fc4;
}
.main-wellcome{
    
    border-radius: 9px;
    outline: white;
    border: 1px solid white;
}

.main-wellcome-form label{
    color:white;
    
    font-size: 13px;
    margin-top: 9px;

}
.welcome-foam{
    color:white;
    background-color: #0087ff;
    margin-top: 22px;
    padding-inline: 36px;
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 3px;
    border-radius: 9px;
}
.main-wellcome-form button:hover{
    color:white;
}
.how-we-use{
    color: white;
   
}
.how-we-use:hover{
    color: white;
}
.radio input{
    position: relative;
    left: 47%;
} 
.thanks-words h1{
    color: white;
    margin-top: 7rem;
}
.btn-index-3 {
    background-color: #0087ff;
    color: white;
}
.letusknow{
    color: white;
}
.checked {
    color:#ffee00 ;
  }
  .two-option h3{
    color:#004fc4;
  }
  .communicate{
      color:gray;
  }
.one-way{
    border: 2px solid #004fc4 ;
    height: 14rem;
    width: 12rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 12px;
    margin-top: 1rem;
}
.Two-way{
    border: 2px solid #004fc4 ;
    margin-top: 1rem;
    border-radius: 12px;
    height: 14rem;
    width: 12rem;
}
.or{
    color: gray;
    height: 21px;
    position: relative;
    top: 123px;
    right: 8px;

}
.Connect-btn{
    
    margin-top: 3%;
    background-color: #004fc4;
    color: white;
    padding-inline: 37px;
    padding-top: 2px;
    padding-bottom: 2px;

}
.Connect-btn:hover{
    color: white;
}
.two-option h4{
    color:#004fc4;
  }
 
  .color-blue{
    color:#004fc4;
  }
  .selected{
    color: white !important;
    background-color:#004fc4 !important ;
}
.offcanvas-header{
    padding-right:0px ;
}
.text-reset{
    padding: 0px;
    padding-right: 5px;
}
.waiting{
    
    width: 9rem;
    
    margin-top: 12%;


}
.word{
    color: #004fc4;
}
